
/* Formulario */

	div.form{
		width: 50%;
		display: flex;
		position: fixed;
		top: 0em;
		left: 24%;
		justify-content: space-around;
		border-radius: 1em;
		background-color: rgb(240, 240, 244);
		padding: .5em; 

	}

	.formMargin{
		margin-top: -50%;

	}

	.formShow{
		position: fixed;
		top: 1em;
		left: 24%;
		margin-top: 0%;

		/* animation-name: Remove-Box-From; */
		animation-name: Show-Box-From;
		animation-duration: 2s;
	}

	@keyframes Show-Box-From{
		from{
			margin-top: -50%;
		}
		to{
			margin-top: 0%;
		}
	}

	.formHi{
		margin-top: -50%;
		animation-name: Remove-Box-From;
		animation-duration: 2s;

	}
	@keyframes Remove-Box-From{
			from{
				margin-top: 0%;
			}
			to{
				margin-top: -50%;
			}
		}

	div form > .inputDate{
		display: block;
		text-align: left;
		width: 74%;
		outline: none;
		border-radius: .5em;
		padding:.5em 3.5em;
	}

	div form textarea{
		background-color: rgba(249, 249, 251, 1.0);
	}
	
	form > input, textarea{
		border: 1px solid black;

	}
	.inputDate:focus{
		border: solid 2px rgb(99, 83, 236);
		box-shadow: -.2px -.2px 3px 3px rgba(99, 83, 236, 0.3);
		background-color: rgba(42, 3, 52, .2);
	}


/* Button */

	button{
		width: 30%;
		background-color:rgba(48, 163, 243,1.0);
		border: 1px solid rgba(48, 163, 243, .3);
		border-radius: .3em;
		color: white;
		padding: .7em 1em;
	}

	.icon-in{
		background-repeat: no-repeat;
		background-position: 22px;
 		background-size: 20px;
	}
	
	button.showForm{
		font-size: 1em;
		background-image: url('../imagenes/chatbubbles-outline.svg');
	}

	input.name{
		background-image: url('../imagenes/ellipsis-horizontal-outline.svg'); 
	}
	input.mail{
		background-image: url('../imagenes/mail-outline.svg');
	}

	button.formButton{
		margin-top: 1em;
		font-size: .8em;
	}

	 form .btn-close{
	 	position: absolute;
	 	right: 5%;
	 	top: 5%;
		display: block;
		width: 2em;
		height: 2em;
		background-image: url('../imagenes/close-outline.svg');
		background-position: 1px;
 		background-size: 35px;
	}