/* -------------BODY----------- */
	body{
		font-family: Loma;
		font-size: 1.2em;
		margin: 0;
		background: linear-gradient(to bottom,#DCE2F0,#979CAF);
	}
	div.wrapper{
		width: 100%;
		margin:auto;
		padding-bottom: 1em;
	}

	hr{
		margin-bottom: 2em;
	}

/* -------------TEXTOS----------- */

	#header h3{
		font-size: .8em;
		margin: 0;
	}

	article section h1{
		text-align: center;
		margin-top: 0px;
	}

/* -------------MENU------------- */
	div.div{
		height: 5em;
		width: 95%;
		margin: .7em auto;
	}
	div.div > div{
		display: inline-block;
		width: 21em;
		margin-left: 5%; 
	}
	.logo{
		width: 5em;
		height: 5em;
		border-radius: 3em;
	}
	.menu_header{
		position: absolute;
		top: 2.2em;
		left: 15%;
	}

		div.menu_header ul > li{
			width: 6em;
			display: inline-flex;
			justify-content: space-around;
			padding: .3em;
		}
		div.menu_header ul li > a{
			text-decoration: none;
			color: #000000;
		}


	ul.prin li:hover{
		background: #F8F8F2;
		border-radius: 3em;
		transition-property: background;
		transition-duration: 400ms;
	}
	/*------------Sub Menu------------------*/

		.menu_header ul li ul{
			display:none;
			/*background: #F8F8F2;*/
		}

		.menu_header ul li ul li{
			width: 8em;
			background: #F8F8F2;

		}
		.menu_header ul li ul li:hover{
			background: #D2D8E7;
		}
		.menu_header ul li ul li>a:hover{
			color: #F8F8F2;
		}
		.menu_header ul li.sub:hover ul{
			display: block;
			position: absolute;
			top:1.8em;
			left: 8em;
			width: 8.6em;
		}


/* -------------TABLA------------ */

	table{
		/*margin: 0 auto;*/
	}

	table tr td img{  /* Feature de las Tablas */
		width: 8em;
		height: 6em;
		margin-bottom: -10px;
		border-radius: 10% 10%;
		
	}

	table tr td {
		background: url('../imagenes/Portfolio/sin categoria.png') no-repeat -69px -67px;
		width: 8em;
		height: 6em;
		border-radius: 10% 10%;
	}

/* -------------Slide------------ */

	#Carrusell{
		width: 100%;
		background: #7c7c7c;
		padding: 30px 0 30px 0;
	}

	.container {
		margin: auto;
		background: #7c7c7c;
		width: 800px;
		padding-top: 30px;
	}

	ul,li{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	ul.slider {
		position: relative;
		width: 12em;
		height: 20em;
		justify-content: space-around;
		display: inline-flex;
		background: #7C7C7C;
	}

	ul.slider li{
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		width: inherit;
		height: inherit;
		transition: opacity .5s;
		background: #fff;
	}

	ul.slider li img{
		width: 100%;
		height: 20em;
		object-fit: cover;
	}

	ul.slider li:first-child{
		opacity: 1;
	}

	ul.slider li:target{
		opacity: 1;
	}

	span.tag{
		width: 100%;
		margin: 0 auto;
		display: inline-flex;
		justify-content: space-around;
	}

	.menu li{
		display: inline-block;
		text-align: center;
	}

	.menu li:hover{
		scale: 125%;
		transition-delay: .2s;
		border-radius: 100%;
	}

	.menu li a{
		display: inline-block;
		color: grey;
		text-decoration: none;
		background-color: #fff;
		padding: 10px;
		width: 20px;
		height: 20px;
		font-size: 20px;
		border-radius: 100px;
	}


/* -------------Cuerpo----------- */

	#Cuerpo{
		display: flex ;
		margin-top: .7em;
		justify-content: space-evenly; 
	}

	#Carrusell{
		float: left;
		width: 48%;
		border-radius: 2em 0 0 2em;
		margin-right: -.687em;
	}

	#tabla{
		float: right;
		width: 48%;
		background: linear-gradient(to right, #7C7C7C, #3A7887);
		border-radius: 0 2em 2em 0em;
		margin-left: -.687em;
	}

/*--------------barraFinal-----------*/

aside{
	width: 98%;
	/*background: #344648;*/
	height: 5em;
	/*margin: 1.5em auto;*/
}

div > aside {
	display: flex;
	justify-content: space-around;
}

aside .logo{
	border: 1px solid white;
}

aside .logo:hover,aside button:hover{
	border: 1px solid orange;
}

aside button{
	border: 1px solid #F8F8F2;
	width: 12em;
	height: 4em;
	margin-top: 1.7em;
	background: #F8F8F2;
	border:none;
	border-radius: .4em;
}


aside button:active{
	background: #6D64FF;
	color:white;
	transition-property: all;
	transition-duration: 1s;
}
